<html>
    <body>
        <img src="@(Model.siteUrl)/images/custom/appLogo.png" width="50" height="50" />
        <h1>@Model.subject</h1>
        <p>
            Você está recebendo a localização do dispositivo @Model.deviceId.
        </p>
        <p>
            Dados da localização: Longitude @Model.longitude e latitude @Model.latitude.
        </p>
        <p>
            O alerta emitido pelo disposito foi em @Model.date.
        </p>
        <p>
            Se você não conseguir visualizar, por favor, entre com contato com o administrador do sistema.
        </p>        

        <a href="@Model.siteUrl">@Model.siteName</a>
    </body>
</html>