<html>
    <body>
        <img src="@(Model.siteUrl)/images/custom/appLogo.png" width="50" height="50" />
        <h1>Cadastro realizado</h1>
        <p>
            Por favor, <a href="@Model.siteUrl">clique aqui</a> para acessar o sistema.
        </p>
        <p>
            E-mail: @Model.email
        </p>
        <p>
            Senha: @Model.password
        </p>
        <a href="@Model.siteUrl">@Model.siteName</a>
    </body>
</html>
