<html>
    <body>
        <img src="@(Model.siteUrl)/images/custom/appLogo.png" width="50" height="50" />
        <h1>Forgot your password?</h1>
        <p>
            You requested to reset your password.
        </p>
        <p>
            Please, <a href="@Model.callbackUrl">click here</a> or use the following link to reset your password.
        </p>        
        <p>
            <a href="@Model.callbackUrl">@Model.callbackUrl</a>
        </p>
        

        <a href="@Model.siteUrl">@Model.siteName</a>
    </body>
</html>