<html>
    <body>
        <img src="@(Model.siteUrl)/images/custom/appLogo.png" width="50" height="50" />
        <h1>Esqueceu sua senha?</h1>
        <p>
            Você realizou uma solicitação para redefinir sua senha.
        </p>
        <p>
            Por favor, <a href="@Model.callbackUrl">clique aqui</a> ou utilize o link abaixo para redefinir sua senha.
        </p>        
        <p>
            <a href="@Model.callbackUrl">@Model.callbackUrl</a>
        </p>

        <a href="@Model.siteUrl">@Model.siteName</a>
    </body>
</html>
